<mat-toolbar color="primary">
  <span>Curso Docker 1.1</span>

  <mat-icon fontSet="fab" fontIcon="fa-docker" style="margin-left: 10px"></mat-icon>
</mat-toolbar>

<div class="content">
  <mat-card>

    <div class="container">
      <div class="container" >
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-card>
</div>
